<!DOCTYPE html>
<html>
<head>
	<title>Justin</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
</head>
<body>
<!-- Mobile Navigation Start-->
      <div class="mobile-nav-header">
      <div class="container">
      		<div class="row">
      		<div class="col-md-6">
      			<div class="mob-logo">
						<a href="#"><img src="/static/assets/img/logo-new.png"></a>
      			</div>
      		</div>
      		<div class="col-md-6">
      				<!-- Mobile Navigation Start-->
      <div class="mobile-nav" id="nav">
            <div class="mob-nav-logo ptpx-15 pbpx-15 plpx-30">
               <a href="#"><img src="/static/assets/img/logo-new.png"></a>
            </div>
         <nav>
            <div>
               <ul class="tt-uppercase">
                	<li><a href="#project">What we do</a></li>
					<li><a href="#footerContact">Contact</a></li>
					<li><a href="#">Career</a></li>
               </ul>
            </div>
            <!-- <div class=" col-md-4">
              <a href=""class=" btn btn-primary w-80 fw-light mtpx-10  ptpx-8 pbpx-8 tt-uppercase"> contact Now</a>
            </div> -->
         </nav> 
      </div>
      <!-- Mobile Navigation Start-->
      <!-- Mobile Navigation Button Start-->
      <div class="mobile-nav-btn">
         <span class="lines"></span>
      </div>


      			</div>
      	</div>
      </div>
      	
      </div>


<!----------------------- HEADER START ---------------------->

	<header class="ptpx-30 pbpx-30">
		<div class="container">
			<div class="row">
				<div class="col-md-4">
					<div class="header-img">
						<a href="#"><img src="/static/assets/img/logo-new.png"></a>
					</div>
				</div>
				<div class="col-md-8">
					<div class="header-list">
						<ul>
							<li><a href="#project">What we do</a></li>
							<li><a href="#footerContact">Contact</a></li>
							<li><a href="#">Career</a></li>
						</ul>	
					</div>
				</div>
			</div>
		</div>
	</header>
<!----------------------- HEADER END ---------------------->

<!----------------------- BANNER START ---------------------->
		
		<section id="banner">
			<div class="container">
				<div class="d-table w-100 banner-height">
					<div class="d-table-cell va-middle ">
						<div class="banner-content ta-center">
							<h1 class="h1 fw-bold fc-white ff-secondary mbpx-30">GET AHEAD, WITH<br> MACHINE LEARNING</h1>
							<p class="fc-white ff-primary">We bring a high-performance team of data scientists and machine learning engineers to your project</p>
							<button class="btn btn-primary ff-primary">CONTACT US</button>
						</div>
					</div>
					
				</div>
			</div>
			
		</section>
<!----------------------- BANNER END ---------------------->

<!----------------------- TESTIMONIAL START ---------------------->
	
	<section id="testimonial">
		<div class="container">
			<div class="sec-padding">
				<div class="testimonial-box ta-center">
					<!-- <div class="hero-slider dots-n-arrow">
						<div class="slide">
							<div class="testimonial-image" style="background-image: url(/static/assets/img/testimonial-1.png);"></div>
						</div>
						<div class="slide">
							<div class="testimonial-image" style="background-image: url(/static/assets/img/testimonial-2.png);"></div>
						</div>
						<div class="slide">
							<div class="testimonial-image" style="background-image: url(/static/assets/img/testimonial-3.png);"></div>
						</div>
						<div class="slide">
							<div class="testimonial-image" style="background-image: url(/static/assets/img/testimonial-4.png);"></div>
						</div>
						<div class="slide">
							<div class="testimonial-image" style="background-image: url(/static/assets/img/testimonial-5.png);"></div>
						</div>
					</div> -->
					
				</div>
				<div class="testimonial-content ta-center">
						<p class="ff-secondary">Our mission is to bring the</p><br>
						 <p class="ff-secondary">benefits of state-of-the-</p><br>
						 <p class="ff-secondary">art machine learning and</p> <br>
						 <p class="ff-secondary">artificial intelligence to</p><br>
						 <p class="ff-secondary">every organization</p>
						
					</div>	
			</div>
		</div>
		
	</section>

<!----------------------- TESTIMONIAL END ---------------------->

<!----------------------- DEVOTED START ---------------------->

	<section id="devoted">
		<div class="container-fluid">
			<div class="sec-padding">
				<div class="row">
					<div class="col-lg-5 col-md-12">
						<div class="devoted-img bg-cover"></div>
					</div>
					<div class="col-lg-7 col-md-12">
						<div class="devoted-content pl-15 pr-15 pbpx-40">
							<h5 class="ff-secondary mbpx-40">
								We are a team of devoted, curious and<br class="abc">
								 focused data scientists and machine<br class="abc">
								  learning engineers
							</h5>
							<p class="ff-primary">
								Over the years, we have held core positions in machine learning 
								teams in various industries, in large organizations as well as in 
								 start-ups. Our experience span from leading machine learning- 
								 centered initiatives to the development and full stack 
								  implementation of machine learning systems including
								   architecture, infrastructure, monitoring and follow-ups. Above
								    all, we are engineers devoted to bringing intelligence to 
								     systems across industries.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>



<!----------------------- DEVOTED END ---------------------->



<!-----------------------WHAT-WE-DO START ---------------------->


<section id="what-we-do">
		<div class="container-fluid">
			<div class="sec-padding">
				<div class="row head-tp">
					<div class="col-md-7">
						<div class="what-we-do-con-head pl-15 pr-15">
						<h5 class="ff-secondary mbpx-30">
							What we do
						</h5>
					</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-7 col-md-12">
						<div class="what-we-do-content pl-15 pr-15">
							<p class="ff-primary">
								Modulai’s clients range from startups to multinational companies. What they all have in common is that machine learning is or could be central for how they operate, compete and create value.
							</p>
							<p>
								Our services range from advisory projects and feasibility studies to end-to-end development and refinement of machine learning systems and products.</p>
							<p>
								We use state-of-the-art techniques, always focusing on maximizing business impact, delivering solutions in areas such as credit risk, fraud detection, dynamic pricing, recommendation systems, computer vision, natural language processing, opportunity spotting, logistics optimization, up-sell, cross-sales, smart building optimization, predictive maintenance and route planning.</p>
						</div>
					</div>
					<div class="col-lg-5 col-md-12">
						<div class="what-we-do-img bg-cover"></div>
					</div>
				</div>
			</div>
		</div>
	</section>






<!-----------------------WHAT-WE-DO END ---------------------->


<!-----------------------vission ---------------------->
	<section id="vission">
		<div class="container-fluid">
			<div class="sec-padding">
				<div class="vission-main">
					<div class="row">
						<div class="col-md-4">
							<div class="vission-sub-main text-xs-center">
							<div class="vission-sub">
								<a href="#"><i class="fa fa-laptop"></i></a>
							</div>
							<div class="vission-content">
								<h5 class="ff-secondary">Computer vision</h5>
								<p class="ff-primary">Object detection, image classification and segmentation</p>
							</div>
						</div>
						</div>
						<div class="col-md-4">
							<div class="vission-sub-main text-xs-center">
							<div class="vission-sub">
								<a href="#"><i class="fa fa-credit-card"></i></a>
							</div>
							<div class="vission-content">
								<h5 class="ff-secondary">Credit and fraud models</h5>
								<p class="ff-primary">Credit and fraud model development for the financial sector</p>
							</div>
						</div>
						</div>
						<div class="col-md-4">
							<div class="vission-sub-main text-xs-center">
							<div class="vission-sub">
								<a href="#"><i class="fa fa-comments"></i></a>
							</div>
							<div class="vission-content">
								<h5 class="ff-secondary">Natural language processing</h5>
								<p class="ff-primary">Sentiment analysis, text classification and clustering</p>
							</div>
						</div>
						</div>
						
					</div>
					<div class="row">
						<div class="col-md-4">
							<div class="vission-sub-main text-xs-center">
							<div class="vission-sub">
								<a href="#"><i class="fa fa-book"></i></a>
							</div>
							<div class="vission-content">
								<h5 class="ff-secondary">Recommendation systems</h5>
								<p class="ff-primary">Product and service recommendations for e-commerce and other industries</p>
							</div>
						</div>
						</div>
						<div class="col-md-4">
							<div class="vission-sub-main text-xs-center">
							<div class="vission-sub">
								<a href="#"><i class="fa fa-user"></i></a>
							</div>
							<div class="vission-content">
								<h5 class="ff-secondary">Predictive maintenance and IOT</h5>
								<p class="ff-primary">Time to event modeling and predictive maintenance for various industrial applications</p>
							</div>
						</div>
						</div>
						<div class="col-md-4">
							<div class="vission-sub-main text-xs-center">
							<div class="vission-sub">
								<a href="#"><i class="fa fa-fort-awesome"></i></a>
							</div>
							<div class="vission-content">
								<h5 class="ff-secondary">Time series forcasting</h5>
								<p class="ff-primary">Estimation of future performance of time series data</p>
							</div>
						</div>
						</div>
					</div>
						
					
					
				</div>
			</div>
		</div>
	</section>
		
<!-----------------------vission END---------------------->

<!-----------------------projaect ---------------------->

	<section id="project">
		<div class="container-fluid">
			<div class="sec-padding">
				<div class="project-main-head text-xs-center mbpx-60">
					<h2 class="ff-secondary">SOME PAST PROJECTS</h2>
				</div>
				<div class="project-main">
					<div class="row">
						<div class="col-md-4">
							<div class="project-sub-main">
									<a href="#">
										<div class="project-sub bg-cover bg-center" style=" background-image:url(/static/assets/img/project-3.jpg);">
											<div class="d-table w-100 project-height">
												<div class="d-table-cell va-bottom ">
											<div class="project-content">
												<button class="btn btn-secondary ff-primary">DEEP LEARNING</button>
												<p class="ff-secondary">Intelligent indoor climate solution for one of the largest real estate developers in the Nordics</p>
											</div>
										</div>
									</div>
								</div>
									</a>
							</div>
						</div>

						<div class="col-md-4">
							<div class="project-sub-main">
									<a href="#">
										<div class="project-sub bg-cover bg-center" style=" background-image:url(/static/assets/img/project-2.jpg);">
											<div class="d-table w-100 project-height">
												<div class="d-table-cell va-bottom ">
											<div class="project-content">
												<button class="btn btn-secondary ff-primary">TIME SERIES</button>
												<p class="ff-secondary">Predicting the risk of mission failure for leading pharmaceutical supply chain management solution</p>
											</div>
										</div>
									</div>
								</div>
									</a>
							</div>
						</div>

						<div class="col-md-4">
							<div class="project-sub-main">
									<a href="#">
										<div class="project-sub bg-cover bg-center" style=" background-image:url(/static/assets/img/Artificial_intelligence.jpg);">
											<div class="d-table w-100 project-height">
												<div class="d-table-cell va-bottom ">
											<div class="project-content">
												<button class="btn btn-secondary ff-primary">MACHINE LEARNING</button>
												<p class="ff-secondary">Transaction outcome model for a major online payment platform</p>
											</div>
										</div>
									</div>
								</div>
									</a>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</section>


	<footer class="mtpx-40" id="footerContact">
		<div class="container">
			<div class="footer-main-box">
				<div class="footer-content ta-center mbpx-40">
					<h1 class="ff-secondary">GET IN TOUCH</h1>
				</div>
				<div class="footer-contact">
					<div class="row">
						<div class="col-md-6">
							<div class="contact-content">
								<p class="ff-primary">
									Are you looking for<br class="abc">
									a ML partner or looking<br class="abc">
									for your next career<br class="abc">
									move?<span> Reach out</span>
									<a href="#"><i class="fa fa-arrow-right"></i></a>
								</p>
							</div>
						</div>
						<div class="col-md-6">
							<div class="contact-form">
								<form>
									<label>NAME</label>
									<input type="name" name="name">
									<label>EMAIL</label>
									<input type="email" name="email">
									<label>MESSAGE</label>
									<textarea></textarea>
									<button class="ff-secondary btn">SEND</button>
								</form>
							</div>
						</div>
					</div>
					<div class="footer-bottom">
						<div class="row">
							<div class="col-md-4">
								<div class="footer-bottom-img">
									<a href="#"><img src="/static/assets/img/logo-new.png"></a>
								</div>
							</div>
							<div class="col-md-4">
								<div class="footer-bottom-content">
									<p class="ff-primary">Modulai AB <br> Robert Alströmsgatan 9B <br> 113 36 Stockholm</p>
								</div>
							</div>
							<div class="col-md-4">
								<div class="footer-bottom-contnt-1">
									<p class="ff-primary">+46 704 850 913</p>
									<p class="ff-primary">info@modulai.io</p>
								</div>
							</div>
						</div>
					</div>
					<div class="footer-last">
						<p>All rights reserved © 2020</p>
					</div>
				</div>
			</div>
		</div>
	</footer>


<!-----------------------projaect END---------------------->



<script src="{{url_for('static', filename='js/theme-fun.js')}}"></script>
<script src="{{url_for('static', filename='js/theme-lib.js')}}"></script>

</body>
</html>